---
layout: default
---
    {% assign stickyPosts = site.posts | where: "sticky", true %}
    {% assign nonStickyPosts = site.posts | where: "sticky", false %}
    {% assign allPosts = "" | split: "" %}
    {% for post in stickyPosts %}
      {% assign allPosts = allPosts | push: post %}
    {% endfor %}
    {% for post in nonStickyPosts %}
      {% assign allPosts = allPosts | push: post %}
    {% endfor %}
    {% for post in allPosts %}
                <div class="grid-item case-study" id="{{ post.id | slugify }}" data-sticky="{{ post.sticky }}" data-date="{{ post.date | date: "%Y%m%d" }}">
                    <div class="photo">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                          {% if post.image %}
                          <img src="{{post.image}}" alt="{{post.title}}" />
                          {% else %}
                          <i class="fa fa-file-image-o"></i>
                          {% endif %}
                        </a>
                    </div>
                    <div class="case-study-content">
                        <h2 class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                        <div class="category">{{ post.verticals | join: ", " }}</div>
                        <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
                        <div class="text">
                            {{ post.excerpt | strip_html }}
                        </div>
                    </div>
                </div>
    {% endfor %}

