    <div class="footer">
        <a href="https://github.com/microsoft" target="_blank">Microsoft on Github</a>
        <a href="https://privacy.microsoft.com/en-us/PrivacyStatement" target="_blank">Privacy &amp; Cookies</a>
        <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" target="_blank">Terms of Use</a>
        <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx" target="_blank">Trademarks</a>
        <a href="https://www.microsoft.com/en-us/" target="_blank">© 2017 Microsoft</a>
    </div>
