<!-- Header -->
<div class="row content-row header">
    <div class="col-md-7 logo-container">
        <div class="logo">
            <!--<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/ms-logo.png" width="108" height="23"></a>-->
            <a id="mobileToggleSearch" class="search-hidden"><i class="fa fa-search"></i></a>
        </div>

    </div>
    <div class="col-md-5 search-container">
        <div class="search-box search-hidden">
            <form id="QuickSearch" class="form-horizontal" onsubmit="return customSearch.handleFilterChange();">
                <input type="text" class="form-control" placeholder="Search by keyword..." id="SearchPhraseText" name="SearchPhraseText">
            </form>
        </div>
    </div>
</div>

<!-- Sub-Header -->
<div class="row content-row sub-header">
    <div class="col-md-12">
        <h1>Technical Case Studies</h1>
    </div>
</div>