<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ "/stylesheets/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/stylesheets/select2.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" />

    <link rel="stylesheet" href="{{ "/css/main-root.css" | prepend: site.baseurl }}">

    <link rel="icon" type="image/ico" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <!-- 
    To collect end-user usage analytics about your application, 
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear 
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
    var appInsights=window.appInsights||function(config){
        function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey:"11f4380b-401f-4d27-8175-999a29d8b6e3"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

    {% include header-root.html %}

    <!-- Centered Content -->
    <div class="content-container">
    {% include search.html %}

        <!-- Results Grid -->
        <div class="case-studies">
            <div class="grid">

                <div class="grid-sizer"></div>
                
                {{ content }}

            </div>
        </div>
        <div class="row hide" id="no-results">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Sorry, no case studies match your search. Please try again.</h3>
            </div>
        </div>
    </div>

    {% include footer-root.html %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/javascripts/jquery-3.2.1.min.js" | prepend: site.baseurl }}"><\/script>')
    </script>
    <script src="//c.microsoft.com/ms.js"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/select2.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/javascripts/main-root.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/search.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/fkiller.js" | prepend: site.baseurl }}"></script>
    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
    <script src="{{ "/javascripts/" | prepend: site.baseurl }}{{js_file}}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>
