---
layout: slim
---
<div class="post">
    <div class="row article-hero {% if page.color %}{{ page.color }}{% endif %}" {% if page.hero-background-image %}style="background-image: url('{{ site.baseurl}}/{{page.hero-background-image}}');"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4 itemprop="headline">{{ page.title }}</h4>
                    <div class="row">
                        <div class="col ss12  valign-wrapper">
                            {% if page.author %} {% if page.author-image %}
                            <img src="{{ page.author-image }}" class="author-image circle" />{% endif %}
                            <span class="author-name">
                                <a href="{{ page.author-link }}" itemprop="author">{{ page.author }}</a>
                            </span>{% endif %}-
                            <span class="article-date">{{ page.date | date: "%b %-d, %Y" }}</span>
                            <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 article-content">
                <article class="post-content">
                    {{ content }}
                </article>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <!-- 
    To collect end-user usage analytics about your application, 
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear 
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
    var appInsights=window.appInsights||function(config){
        function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey:"11f4380b-401f-4d27-8175-999a29d8b6e3"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    <script src="{{ "/javascripts/fkiller.js" | prepend: site.baseurl }}"></script>
    
